header{
   height:93px;
   background: #f5f5f5;
}

header nav {
    width: 900px;
    padding: 25px 0 20px;
    position: relative;
    margin: 0 auto;
}

.logo{
    /*display: inline-block;*/

    float: left;
}
.logo a{
    font-size:20px;
    color: #222;
    font-family: 'Neucha', "PingFang SC", "Microsoft YaHei", sans-serif;
}
header nav ul{
    list-style: none;
}

header nav ul li{
    float: right;
    text-align: center;
}


header nav ul li a {
    display: block;
    font-size: 13px;
    line-height: inherit;
    padding: 0 10px;
    text-decoration: none;
    color: #555;
}

header nav ul li{
    float: right;
}

.content{
    font-family: Arial, "Hiragino Sans GB", 冬青黑, "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, "Arial sans-serif";
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    height: 1382px;
    position: relative;
    margin: 0 auto;
}

.article-list{
    position: relative;
    padding-left: 0;
}

.article-list-item{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
    border-bottom: 1px solid #eee;
}

.article-list-item-name{
    margin: 0 0 8px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.article-list-item-name a{
    text-decoration: none;
    color: #555;
}

.article-list-item-time{
    font: normal normal normal 16px/1 octicons;
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
}

.article-list-item-descripition{
    max-width: 550px;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 14px;
    color: #666;
}

.main-inner{
    width: 1020px;
    margin-top: 80px;
    display: block;
}
